.square {
  position: relative;
  width: 100%;
  border: 1px solid rgb(16, 104, 63);
}

.hover-o:hover {
  background-color: rgb(94, 164, 255);
}

.hover-x:hover {
  background-color: rgb(245, 153, 153);
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}