<div class="row">
  <div class="col-12 text-center mt-4">
    <span *ngIf="!winner.won && isBoardFull()">It's a draw!</span>
    <span *ngIf="!winner.won && !isBoardFull()">
      Current player:
      <strong>{{ currPlayer.symbol | showPlayerSymbol }}</strong>
    </span>
    <p *ngIf="winner.won" [class.text-primary]="currPlayer.symbol === 0" [class.text-danger]="currPlayer.symbol === 1">
      Player <strong> {{ currPlayer.name }}</strong> wins!
    <p>
  </div>
  <div class="text-center mt-3">
    <button type="button" class="btn btn-success" (click)="resetGame()">
      Play Again
    </button>
  </div>
</div>
