<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="text-center align-middle">
      <tr>
        <th scope="col" rowspan="2">Player</th>
        <th scope="col" [colSpan]="games.length" *ngIf="games.length">Games</th>
        <th scope="col" rowspan="2">Total</th>
      </tr>
      <tr>
        <th *ngFor="let game of games">{{ game.gameNumber }}</th>
      </tr>
    </thead>
    <tbody class="table-group-divider text-success text-center">
      <tr>
        <th
          scope="row"
          [ngClass]="{
            'table-danger': currPlayer === scoreResults.X
          }"
        >
          {{ players[1].name }}
        </th>
        <td *ngFor="let game of games">
          <span
            class="material-symbols-outlined text-success"
            *ngIf="game.winner === scoreResults.X"
          >
            sentiment_very_satisfied
          </span>
          <span
            class="material-symbols-outlined text-danger"
            *ngIf="game.winner === scoreResults.O"
          >
            sentiment_dissatisfied
          </span>
          <span
            class="material-symbols-outlined text-secondary"
            *ngIf="game.winner === scoreResults.NONE"
            >do_not_disturb_on
          </span>
        </td>
        <td>{{ players[1].score }}</td>
      </tr>
      <tr>
        <th
          scope="row"
          [ngClass]="{
            'table-primary': currPlayer === scoreResults.O
          }"
        >
          {{ players[0].name }}
        </th>
        <td *ngFor="let game of games">
          <span
            class="material-symbols-outlined text-success"
            *ngIf="game.winner === scoreResults.O"
          >
            sentiment_very_satisfied
          </span>
          <span
            class="material-symbols-outlined text-danger"
            *ngIf="game.winner === scoreResults.X"
          >
            sentiment_dissatisfied
          </span>
          <span
            class="material-symbols-outlined text-secondary"
            *ngIf="game.winner === scoreResults.NONE"
            >do_not_disturb_on
          </span>
        </td>
        <td>{{ players[0].score }}</td>
      </tr>
    </tbody>
  </table>
</div>
